body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.board {
    display: grid;
    grid-template-columns: repeat(9, 50px);
    grid-template-rows: repeat(9, 50px);
    gap: 1px;
    border: 1px solid #000;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #ddd;
}

.icono{
    position: absolute;
    top: 0;
    margin-top: 50px;
    margin-left: 100px;

}
